        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #210502;
        }

        .button_menu {
            display: inline-block;
            position: absolute;
            top: 15px;
            left: 15px;
            z-index: 2;
        }

        .main_menu {
            /* visibility: hidden; */
            display: none;
             position: fixed;
            background-color: rgba(255,228,220,0.2);
            padding-top: 50px;
            width: 100%;
            height: 180px;
            z-index: 1;
        }

        a {
            text-decoration: none;
            color: #A18381;
            font-size: 40px;
            display: inline-block;
             transition: all 2s linear;
           
        }

        li {
            text-align: center;
          list-style: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .show{
            display: block;
        }
@media screen and (min-width: 768px) {
    .button_menu{
        display: none;
    }
    .main_menu{
        display: block;
        padding-top: 10px;
        height: 80px;   
        text-align: center;
      
    }
    ul{
        display: inline-block;
    }
    li{
        float: left;
    }
    a{
        margin:10px;
      
    }
}
        .main_photo{
            width: 100%;
            height: 50vh;
            background:url(_MG_2781_mobile.jpg) top center;
            padding-top: 50vh;
           
        }
.text{
  text-align: center; 
  margin-left: auto;
  margin-right: auto;
}
        .text_1, .text_2{
            color: wheat;
            width:auto;
            height: auto;
            background-color:  #210502;
            opacity: 0.6;
            display: inline-block;
        }
        .text_1{
            font-size: 40px;
            padding: 10px;
            margin-bottom: 10px;
        }
         .text_2{          
            font-size: 30px;
            margin-top: 10px;
            padding: 8px;
        } 
    
        @media only screen and (min-width: 668px){
            .main_photo{
                background:url(_MG_2781.jpg) top;
              }
.text_1{
    font-size: 80px;
}
.text_2{
    font-size: 60px;
}
        
        }

